<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>615909698385-fukup0ifiro2bolnthqeaq5evi3gefuj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.615909698385-fukup0ifiro2bolnthqeaq5evi3gefuj</string>
	<key>API_KEY</key>
	<string>AIzaSyA_aA_JqLJm2dZ0eW87_-D_KwAg_9KDXBc</string>
	<key>GCM_SENDER_ID</key>
	<string>615909698385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>instaSolve.integration1</string>
	<key>PROJECT_ID</key>
	<string>instasolve-35480</string>
	<key>STORAGE_BUCKET</key>
	<string>instasolve-35480.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:615909698385:ios:5dffb15237058e03</string>
	<key>DATABASE_URL</key>
	<string>https://instasolve-35480.firebaseio.com</string>
</dict>
</plist>